.about-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-paragraph-text {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  line-height: var(--font-line-height-multi-line);
  color: var(--text-secondary);
}

.about-bold-text {
  font-weight: var(--font-weight-semibold);
}

.image-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.image-style {
  border: 1px solid var(--color-border-light);
  border-radius: 0.5rem;
  width: 336px;
}

.image-style img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.experience-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid var(--color-border-light);
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1rem;
}

.company-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}

.company-logo img {
  width: 40px;
  height: 40px;
}

.company-name {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--text-primary);
}

.job-info {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  color: var(--text-tertiary);
}

.tldr-text {
  font-weight: var(--font-weight-semibold);
  color: var(--text-primary);
}

@media (max-width: 1110px) {
  .image-style {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: visible;
  }
}
