/* Post Thumbnail Styles */
.redesign-thumbnail img {
  /* Styles for post thumbnail images */
  flex: none;
  height: 100%;
  width: 100%;

  position: relative;
  border-radius: 0.25rem;
  border: 1px solid var(--color-border-light);
}

/* Post Text Styles */
.redesign-text {
  /* Flex container styles for post text */
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  padding: 0;
  position: relative;
  width: 100%;
}

/* Post Left Text Styles */
.redesign-left-text {
  /* Flex container styles for the left part of post text */
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: 1 0 0rem;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.25rem;
  height: auto;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  width: 100%;
}

/* Post Date Styles */
.redesign-date {
  /* Flex container styles for post date */
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  height: auto;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  width: auto;
}

/* Points Style */
.points ul li {
  /* Styles for list items within .points */
  font-size: var(--font-size-md);
  line-height: 180%;
  font-weight: var(--font-weight-regular);
  color: var(--text-secondary);
  margin-top: 1rem;
}

.list-style {
  list-style-type: disc;
}

.points-highlight {
  font-weight: var(--font-weight-semibold);
}

/* Media Query for Responsive Design */
@media (max-width: 69.44rem) {
  .redesign-thumbnail img {
    width: 100%;
    height: auto;
  }
}

li {
  list-style-position: inside;
  list-style-type: square;
}
