iframe {
  border: 0.0625rem solid var(--color-border-light);
  border-radius: 0.25rem;
  overflow: hidden;
  width: 100%;
  min-height: 600px;
  transition: height 0.3s ease;
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;     /* Hide scrollbar for Firefox */
}

.resume-footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
