.right iframe {
  min-width: max-content;
  min-height: max-content;
  border: 0.0625rem solid var(--color-border-light);
  border-radius: 0.25rem;
}

.resume-footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 37.5rem) {
  .right iframe {
    width: 100%;
    height: 40.625rem;
  }
}
