/* variables start */
:root {
  /* White and Black color */

  --color-white: #ffff;
  --color-black: #1e1e1e;

  /* Background colors */

  --color-background: #fcfcfc;
  --color-elevated: #f5f5f5;
  --color-elevated-dark: #ebebeb;

  /* Text colors */

  --text-primary: #1e1e1e;
  --text-secondary: #5c5c5c;
  --text-tertiary: #808080;
  --text-accent: #9e9e9e;
  --text-muted: #bdbdbd;

  /* State colors */

  --color-state-success: #4daa57;
  --color-state-error: #d12626;

  /* Border colors */

  --color-border-light: #f0f0f0;
  --color-border-dark: #1e1e1e;

  /* Font properties */

  --font-family: "Inter", sans-serif;

  /* Font sizes */

  --font-size-xss: 0.75rem;
  --font-size-xs: 0.813rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;

  /* Font weight */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* Line hight */

  --font-line-hegiht-singel-line: 1rem;
  --font-line-height-multi-line: 1.8rem;
  --font-line-height-base-line: 100%;
}
/* variables end */

/* Universal Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  scrollbar-gutter: stable;
}

/* Text hightlight */
::selection {
  background-color: var(--text-primary);
  color: var(--color-background);
}

/* Body Styles */
body {
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
  position: relative;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-multi-line);
}

/* Image Styles */
img {
  width: 100%;
  height: auto;
  position: relative;
}

.navbar a {
  height: 3.375rem;
}

.navbar img {
  width: 2.375rem;
  height: 2.375rem;
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5rem 0;
  position: relative;
  width: min-content;
  z-index: 1;
}

/* Right Column Styles */
.right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  position: relative;
  width: 43rem;
  padding-bottom: 200px;
}

/* Header Text Styles */
.header-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  transform: perspective(75rem);
  width: 100%;
}

/* Tab Styles */
.tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: flex-start;
  position: sticky;
  top: 5rem;
  width: 12.5rem;
  will-change: transform;
  z-index: 1;
}

/* Tab Button Styles */
.tab a {
  text-decoration: none;
  display: block;
  background-color: inherit;
  color: var(--text-tertiary);
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  font-size: var(--font-size-md);
}
.menu {
  display: none;
}

/* Create an active/current "tab button" class */
.tab a.active {
  color: var(--text-primary);
  cursor: default;
  font-weight: var(--font-weight-semibold);
}
/* Tab Content Styles */
.tabcontent {
  float: left;
  padding: 0 0.75rem;
  width: 4.375rem;
  border-left: none;
  height: 18.75rem;
}

/* Text Styles */
.text-normal {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  color: var(--text-secondary);
}

/* Highlight Styles */
.highlight {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
}

/* Highlight Medium Styles */
.highlight-md {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
}

/* Highlight Small Styles */
.highlight-sm {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
}

/* Bio Text Styles */
.bio-text {
  color: var(--text-secondary);
  line-height: var(--font-line-height-multi-line);
}
.bio-text a {
  text-decoration: none;
  color: var(--text-secondary);
}
.bio-text a:hover {
  text-decoration: underline;
}

/* Heading Styles */
.heading {
  color: var(--text-tertiary);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-singel);
}

/* Heading Link Styles */
.heading a {
  color: var(--color-border-dark);
  text-decoration: none;
}

/* Info Text Styles */
.info-text-2 {
  font-size: var(--font-size-sm);
  color: var(--text-accent);
}

.info-text-3 {
  font-size: var(--font-size-md);
  color: var(--text-accent);
}

/*Big Button */

button {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 0.5rem;
  color: var(--text-primary);
  background-color: var(--color-elevated);
  border: 1px solid var(--color-elevated-dark);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: var(--color-elevated-dark);
}

button img {
  width: 24px;
  height: 24px;
}

/* Button Row Styles */
.button-row {
  display: flex;
  gap: 1rem;
}

/* Divider Styles */
.divider {
  border: 1px solid var(--color-border-light);
  width: 8.875rem;
  margin: 1rem 0;
}

/* Info Text Styles */
.info-text {
  font-style: italic;
  font-size: 0.75rem;
  color: var(--text-accent);
}

/* Post Body Styles */
.post-body {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  transform: perspective(75rem);
  width: 100%;
}

/* Post Thumbnail Styles */
.post-thumbnail {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  position: relative;
}

.post-thumbnail > img {
  border-radius: 0.5rem;
}

/* Post Text Styles */
.post-text {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

/* Post Left Text Styles */
.post-left-text {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  gap: 0.25rem;
  height: min-content;
  justify-content: flex-start;
  position: relative;
}

/* Post footer */
.post-footer {
  margin-bottom: 1rem;
}
/* Back Button Styles */
.back {
  transition: 0.3s;
  background-color: var(--color-elevated);
  padding: 0.5rem;
  border-radius: 6.25rem;
}

.back:hover {
  transition: 0.3s;
  background-color: var(--color-elevated-dark);
  padding: 0.5rem;
  border-radius: 6.25rem;
}

/* Video Styles */
video {
  width: 100%;
}

/* Style for external link */
#external-link {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Ensure link is clickable */
}

/* Hide default link styling */
#external-link a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

/*  the default video controls */
#autoplay-video::-webkit-media-controls,
#autoplay-video::-webkit-media-controls-enclosure {
  display: none !important;
}

#autoplay-video::-webkit-media-controls-panel {
  width: 0;
  height: 0;
  display: none !important;
}

/* Feed in animation */
.animation {
  opacity: 0;
  animation: feedIn 1s ease forwards;
}

/* Tooltip style */
.tooltip {
  position: relative;
  display: inline-block;
  font-size: var(--font-size-xs);
  letter-spacing: 0.3px;
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-base-line);
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #1e1e1e;
  color: var(--color-background);
  text-align: center;
  border-radius: 4px;
  padding: 8px 8px;
  opacity: 0;
  transition: all 0.3s;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0%;
  margin-left: 0px;
  width: max-content;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-delay: 500ms;
  transform: translateX(0) translateY(-20%);
}

.mobile-tab {
  display: none;
}

.navigation {
  display: none;
}

#myDIV {
  display: none;
}

.hide-for-desktop {
  display: none;
}

@keyframes feedIn {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
