/* Style the Image Used to Trigger the Modal */
.popup-image {
  position: relative;
  z-index: 10;
}

.popup-image img {
  cursor: zoom-in;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

/* All other custom lightbox/modal CSS removed to avoid conflict with medium-zoom */
.medium-zoom-overlay,
.medium-zoom-image--opened {
  cursor: zoom-out !important;
}

.medium-zoom-overlay {
  z-index: 2000 !important;
  background: rgb(255, 255, 255, 0.95) !important;
}
.medium-zoom-image--opened {
  z-index: 2001 !important;
}
