html,
body,
#main {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}
body {
	min-height: 100vh;
	width: auto;
	background-color: #fafafa;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	/* gap: 16px; */
	height: min-content;
	justify-content: flex-start;
	overflow: visible;
	padding: 0 0 120px;
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 180%;
}
.container {
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex: none;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 80px;
	height: min-content;
	justify-content: flex-start;
	overflow: visible;
	padding: 80px 0;
	position: relative;
	width: min-content;
	z-index: 1;
}
.right {
	display: flex;
	flex: none;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 64px;
	height: min-content;
	justify-content: center;
	overflow: hidden;
	padding-top: 80px;
	position: relative;
	width: 688px;
}
.header-text {
	display: flex;
	flex: none;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 8px;
	height: min-content;
	justify-content: flex-start;
	max-width: 688px;
	overflow: visible;
	padding: 0;
	position: relative;
	transform: perspective(1200px);
	width: 100%;
}
/* Style the tab */
.tab {
	align-items: flex-start;
	display: flex;
	flex: none;
	flex-direction: column;
	flex-wrap: nowrap;
	height: min-content;
	justify-content: flex-start;
	overflow: hidden;
	padding: 0;
	position: sticky;
	top: 80px;
	width: 200px;
	will-change: transform;
	z-index: 1;
}
/* Style the buttons inside the tab */
.tab a {
	text-decoration: none;
	display: block;
	background-color: inherit;
	color: gray;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: left;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 4px;
}
/* Create an active/current "tab button" class */
.tab a.active {
	width: 200px;
	color: #1e1e1e;
	cursor: default;
	border-left: 2px solid #1e1e1e;
	background-color: #f5f5f5;
}
/* Style the tab content */
.tabcontent {
	float: left;
	padding: 0px 12px;
	width: 70%;
	border-left: none;
	height: 300px;
}
.text-normal {
	padding-top: 16px;
	font-size: 16px;
	font-weight: 400px;
	color: #4f4f4f;
}
.heighlight {
	font-size: 16px;
	font-weight: 700;
}
.heighlight-md {
	font-size: 16px;
	font-weight: 500;
}
.heighlight-sm {
	font-size: 16px;
	font-weight: 600;
}
.bio-text {
	color: #5c5c5c;
}

.company {
	color: #9e9e9e;
}
.company a {
	text-decoration: none;
	color: #9e9e9e;
}
.button button {
	transition: 0.3s;
	padding: 8px 16px;
	font-size: 16px;
	background-color: #1e1e1e;
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	margin-top: 24px;
}
.button button:hover {
	transition: 0.3s;
	padding: 8px 16px;
	font-size: 16px;
	background-color: #484848;
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	margin-top: 24px;
}
.button-outline button {
	transition: 0.3s;
	padding: 8px 16px;
	font-size: 16px;
	color: #1e1e1e;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #1e1e1e;
	cursor: pointer;
	margin-top: 24px;
}
.button-outline button:hover {
	transition: 0.3s;
	padding: 8px 16px;
	font-size: 16px;
	color: #fff;
	background-color: #1e1e1e;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 24px;
}
.button-row {
	display: flex;
	gap: 16px;
}
.right iframe {
	border: 1px solid #f0f0f0;
	border-radius: 4px;
}
.devider {
	border: 1px solid #f0f0f0;
	width: 200px;
	margin: 16px 0px;
}
.heading {
	color: #787878;
	font-weight: 400;
	line-height: 1.5em;
}
.heading a {
	color: #1e1e1e;
	text-decoration: none;
}
.info-text {
	font-style: italic;
	font-size: 12px;
	color: #9e9e9e;
}
.image-style {
	margin-top: 48px;
	margin-bottom: 48px;
	place-content: center flex-start;
	align-items: center;
	display: flex;
	flex: 0 0 auto;
	flex-flow: row;
	gap: 16px;
	height: min-content;
	max-width: 688px;
	overflow: visible;
	padding: 0px;
	position: relative;
	transform: perspective(1200px);
	width: 100%;
}
.single-image {
	flex: 1 0 0px;
	overflow: hidden;
	position: relative;
	width: 1px;
}
.single-image img {
	height: 374.98px;
	width: 300px;
	border: 1px solid #f0f0f0;
	border-radius: 16px;
}
.logos {
	place-content: center flex-start;
	display: flex;
	flex: 0 0 auto;
	flex-flow: row;
	gap: 24px;
	height: min-content;
	overflow: auto;
	padding: 0px;
	position: relative;
	width: 100%;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}
.card {
	place-content: center;
	align-items: center;
	display: flex;
	flex: 0 0 auto;
	flex-flow: column;
	gap: 8px;
	height: min-content;
	overflow: hidden;
	padding: 0px;
	position: relative;
	width: min-content;
}
.card img {
	border-radius: 8px;
}
.text-row {
	place-content: center space-between;
	align-items: center;
	align-self: stretch;
	display: flex;
	flex: 0 0 auto;
	flex-flow: row;
	height: min-content;
	overflow: hidden;
	padding: 0px;
	position: relative;
	width: auto;
}
.small-text {
	font-size: 12px;
	line-height: 20px;
}
.small-text-2 {
	font-size: 12px;
	color: gray;
	align-items: center;
	align-self: stretch;
	display: flex;
	flex: 0 0 auto;
	flex-flow: row;
	height: min-content;
	overflow: hidden;
	padding: 0px;
	position: relative;
	width: auto;
	line-height: 18px;
}

.post-body {
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex: none;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 16px;
	height: min-content;
	justify-content: flex-start;
	max-width: 688px;
	overflow: visible;
	padding: 0;
	position: relative;
	transform: perspective(1200px);
	width: 100%;
}
.post-thumbnail {
	flex: none;
	height: 494px;
	overflow: hidden;
	position: relative;
	width: 688px;
	border-radius: 4px;
}
.post-text {
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex: none;
	flex-direction: row;
	flex-wrap: nowrap;
	height: min-content;
	justify-content: space-between;
	max-width: 688px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
.post-left-text {
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex: 1 0 0px;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 4px;
	height: min-content;
	justify-content: flex-start;
	max-width: 688px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 1px;
}
.post-date {
	align-content: center;
	align-items: center;
	display: flex;
	flex: none;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 16px;
	height: min-content;
	justify-content: flex-start;
	max-width: 688px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: min-content;
}
.info-text-2 {
	font-size: 14px;
	color: #9e9e9e;
}
.info-text-3 {
	font-size: 16px;
	color: #9e9e9e;
}
.about-text {
	display: flex;
	flex-direction: column;
	gap: 32px;
	color: #1e1e1e;
}
.back {
	transition: 0.3s;
	background-color: #f0f0f0;
	padding: 8px;
	border-radius: 100px;
}
.back:hover {
	transition: 0.3s;
	background-color: #e5e5e5;
	padding: 8px;
	border-radius: 100px;
}

/* video */
video {
	border: 1px solid #e5e5e5;
	height: auto;
	width: 100%;
}
/* Hide the default video controls */
#autoplay-video::-webkit-media-controls,
#autoplay-video::-webkit-media-controls-enclosure {
	display: none !important;
}

#autoplay-video::-webkit-media-controls-panel {
	width: 0;
	height: 0;
	display: none !important;
}

/* contact text start*/
.contact-text {
	color: #1e1e1e;
	font-family: "Inter", sans-serif;
	font-size: 24px; /* Adjust the font size as needed */
	font-weight: 600;
	line-height: 150%;
	width: 100%; /* Ensure it spans the entire width */
}
/* contact text end */
